.home {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.home h2 {
  text-align: center;
}

.container {
  margin-inline: auto;
}

.home__empty {
  text-align: center;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.home__empty img {
  width: 25%;
}

.home__books {
  place-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30rem);
  gap: 5rem;
}

.home__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 3px;
}
.home__card img {
  width: 10rem;
}

@media screen and (max-width: 647px) {
  .home__empty img {
    width: 70%;
  }

  .home h1 {
    font-size: 3rem;
  }
}
