.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  gap: 5rem;
}

.search form {
  margin: 2rem auto;
}
.search__input {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search input {
  padding: 2rem;
  padding: 0.2rem;
  text-indent: 1rem;
  max-width: 100%;
  border-radius: 3px;
}
.search input:focus {
  outline: 0 none;
}

.search__button {
  color: var(--color-accent);
}

.search__button:hover {
  filter: brightness(120%);
}

.search__empty {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.search__empty img {
  width: 20%;
}

.search__empty h1 {
  max-width: 80%;
}

@media screen and (max-width: 647px) {
  .search__empty img {
    width: 54%;
  }
  .search__input {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .search__input button {
    width: 100%;
  }

  .search h1 {
    font-size: 3rem;
  }
}
