@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Variables */

:root {
  /*  Text/background colors */
  --color-white: #fff;
  --color-dark: #2c3639;
  --color-accent: #a27b5c;
  /* Transition speed */
  --transition-default: ease-in 0.1s;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Default font-size */
html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Default text color */
body {
  color: var(--color-dark);
}
/* Default text settings */
a,
button {
  font-size: 2.5rem;
}

h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}

input {
  font-size: 2.5rem;
}

/* Default button styling */
button {
  cursor: pointer;
  background: none;
  font-weight: 500;
  border: none;
  color: var(--color-dark);
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.7);
  transition: var(--transition-default);
}

button:hover {
  filter: brightness(250%);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 5);
}

/* Default section container width */
.container {
  width: 90%;
}
